# named list of all robots
robots:
  cf2:
    enabled: true
    uri: radio://0/100/1M/E7E7E7E7B5
    initial_position: [0.0, 0.0, 0.0]
    type: cf21  # see robot_types

# Definition of the various robot types
robot_types:
  cf21:
    motion_capture:
      enabled: true
      marker: default_single_marker
      dynamics: default
    big_quad: false
    battery:
      voltage_warning: 3.8  # V
      voltage_critical: 3.7 # V



all:
  firmware_logging:
    enabled: true
    default_topics:
      pose:
        frequency: 10 # Hz
      status:
        frequency: 1 # Hz
  firmware_params:
    commander:
      enHighLevel: 1
    stabilizer:
      estimator: 2 # 1: complementary, 2: kalman
      controller: 1 # 1: PID, 2: mellinger

    locSrv:
      extPosStdDev: 1e-3
      extQuatStdDev: 0.5e-1


  broadcasts:
    num_repeats: 1 # number of times broadcast commands are repeated
    delay_between_repeats_ms: 1 # delay in milliseconds between individual repeats